/.bundle
/db/*.sqlite3
/doc/
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/vendor/bundle
/log/*
/tmp/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/config/environments/production.rb
/config/*.yml
/*.log
.tmp
# Ignore sass-cache files.
*.sass-cache*
.DS_Store
.idea/**/*
.idea
php/**.*.idea
node_modules
/node_modules
/npm-debug.log
/bower.json
/component.json
/bower_components
